@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
}


@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2");
}

/* common */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page */

.page {
  height: 100%;

  color: #000000;
  background-color: #FFFFFF;

  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 1165px;
  min-height: 100%;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

/* section */

.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-align: center;
}

.section-description-small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.section-description-medium {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* button */

.button {
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: inherit;

  border: 1px solid #4A607A;
  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
  text-transform: uppercase;
}

/* standart-state */

.standart-state:hover {
  background-color: #DDD0A4;
}

.standart-state:active {
  opacity: 0.6;
  background-color: #DDD0A4;
}

/* select */

.select {
  position: relative;

  display: flex;
  align-items: center;
}

.select__button {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.select__button::-webkit-details-marker {
  display: none;
}

.select__button::after {
  content: "";
  display: block;
  width: 12px;
  height: 7.4px;
  padding: 8.2px 6px;

  background: url("../icons/header/arrow.svg") no-repeat center;
}

.select[open] .select__button::after {
  transform: rotate(180deg);
}

.select__list-absolute {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  list-style-type: none;
}

.select__item {
  position: relative;

  display: block;
  box-sizing: border-box;

  background-color: #FFFFFF;
  color: inherit;
  text-decoration: none;
}

/* header */

.page-header {
  display: flex;
  justify-content: center;
  width: calc(100vw - 20px);
  margin-bottom: 30px;
  margin-left: calc(-50vw + 50% + 10px);
  box-shadow: 0 4px 15px rgba(49, 60, 72, 0.05);
}

.header-nav {
  display: flex;
  align-items: center;
  width: 1179px;
}

.logo {
  margin-right: auto;
}

.site-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.site-menu__item:nth-child(2),
.site-menu__item:nth-child(3) {
  margin-right: 15px;
}

.site-menu__link {
  padding: 29.5px;

  font-weight: 300;
  color: inherit;
  text-decoration: none;
}

.site-menu__help-menu {
  font-weight: 300;
}

.site-menu__city-select {
  font-weight: 500;
}

.select-menu {
  position: relative;

  cursor: pointer;
}

.select-menu__button {
  display: flex;
  align-items: center;
  padding: 29.5px 7.5px 29.5px 14.5px;
}

.select-menu__button::-webkit-details-marker {
  display: none;
}

.select-menu__button::after {
  content: "";
  display: block;
  width: 12px;
  height: 7.4px;
  margin-left: 10px;

  background: url("../icons/header/arrow.svg") no-repeat center;
}

.select-menu[open] .select-menu__button::after {
  transform: rotate(180deg);
}

.select-menu__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  padding: 10px 0;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}

.select-menu__link {
  display: block;
  padding: 5px 29.5px 5px 29.5px;
  box-sizing: border-box;

  background-color: #FFFFFF;
  color: inherit;
  text-decoration: none;
}

.select-menu__link:hover {
  background-color: #EBEBEB;
}

.select-menu__link:active {
  background-color: #F0F0F0;
  color: rgba(0, 0, 0, 0.6);
}

.header__phone {
  padding: 25.5px 38px 25.5px 29.5px;
  text-decoration: none;
  font-size: 24px;
  line-height: 29px;
  color: #0D1C41;
}

.header__personal-account {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
  padding: 29.5px 66px 29.5px 17px;

  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #0D1C41;

  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header__personal-account::after {
  position: absolute;
  right: 16px;
  content: "";
  display: block;
  width: 34px;
  height: 34px;

  background: url("../icons/header/account_circle.svg") no-repeat center;
}

/* protecting-plus */

.protecting-plus {
  display: flex;
  justify-content: space-between;
  padding: 60px 55.7px 65.7px 99px;
  margin: 0 0 108px 0;

  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 30px;
}

.protecting-plus__left-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 365px;
}

.protecting-plus__main-title {
  padding: 0;
  margin: 0 0 24px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #0D1C41;
}

.protecting-plus__title-solid {
  font-weight: 600;
  text-transform: uppercase;
}

.protecting-plus__description {
  padding: 0;
  margin: 0 0 92px 0;

  color: #939CA6;
}

.protecting-plus__button {
  max-width: 265px;
  padding: 20px 102px;
}

.protecting-plus__right-part {
  display: block;
  width: 503.1px;
  height: 375.4px;

  background: url("../img/index/protecting-plus-background.png") no-repeat center;
}

/* advance */

.advance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 109px 0;
}

.advance__main-title {
  margin: 0 0 75px 0;
  padding: 0;

  text-align: center;
}

.advance__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 165px);
  gap: 61px 35px;
  max-width: 965px;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.advance__item-title {
  position: absolute;
  top: -25px;
  left: -0;
  z-index: -1;

  box-sizing: border-box;
  width: 165px;
  height: 50px;
  padding: 4px 0 0 0;

  color: #FFFFFF;

  background: #DDD0A4;
  border-radius: 20px 20px 0 0;
}

.advance__item {
  position: relative;

  display: grid;
  grid-template-rows: 124px max-content;
  width: 165px;
  padding: 0 10px 15px 10px;
  box-sizing: border-box;

  text-align: center;
  color: #0D1C41;

  background: #FFFFFF;
  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 20px;
}

.advance__item::before {
  align-self: center;
  justify-self: center;
}

.advance__item:nth-child(1)::before {
  content: "";
  display: block;
  width: 69px;
  height: 69px;

  background: url("../icons/advance/24-hours.svg") no-repeat center;
}

.advance__item:nth-child(2)::before {
  content: "";
  display: block;
  width: 68px;
  height: 68px;

  background: url("../icons/advance/calendar.svg") no-repeat center;
}

.advance__item:nth-child(3)::before {
  content: "";
  display: block;
  width: 76px;
  height: 74px;

  background: url("../icons/advance/insurance.svg") no-repeat center;
}

.advance__item:nth-child(4)::before {
  content: "";
  display: block;
  width: 73px;
  height: 73px;

  background: url("../icons/advance/lab.svg") no-repeat center;
}

.advance__item:nth-child(5)::before {
  content: "";
  display: block;
  width: 96px;
  height: 96px;

  background: url("../icons/advance/butterfly.svg") no-repeat center;
}

/* conditions */

.conditions {
  margin: 0 0 109.1px 0;
}

.conditions__main-title {
  margin: 0 0 109px 0;
  padding: 0;
}

.conditions__list {
  display: flex;
  flex-direction: column;
}

.conditions__item {
  display: flex;
}

.conditions__item:nth-child(1) {
  padding: 0 0 0 75.5px;
  margin: 0 0 58.3px 0;
}

.conditions__item:nth-child(2) {
  padding: 0 0 0 100px;
  margin: 0 0 52.1px 0;
}

.conditions__item:nth-child(3) {
  padding: 0;
  margin: 0;
}

.conditions__item:nth-child(1) .conditions__img {
  display: block;
  width: 390.3px;
  height: 351.8px;
  margin: 0 134.2px 0 0;

  background: url("../img/index/condition-doctors.png") no-repeat center;
}

.conditions__item:nth-child(2) .conditions__img {
  order: 1;
  display: block;
  width: 351px;
  height: 474px;

  background: url("../img/index/condition-service.png") no-repeat center;
}

.conditions__item:nth-child(3) .conditions__img {
  display: block;
  width: 445.2px;
  height: 388.8px;
  margin-right: auto;

  background: url("../img/index/condition-summary.png") no-repeat center;
}

.conditions__title {
  margin: 0;
  padding: 0;
}

.conditions__item:nth-child(1) .conditions__item-container {
  max-width: 344px;
  padding: 46px 0 0 0;
}

.conditions__item:nth-child(2) .conditions__item-container {
  max-width: 366px;
  padding: 172px 0 0 0;
  margin-right: 286px;
}

.conditions__item:nth-child(3) .conditions__item-container {
  max-width: 321px;
  padding: 121.9px 150px 0 0;
}


.conditions__item:nth-child(1) .conditions__title {
  margin-bottom: 10px;

  font-size: 64px;
  line-height: 76px;
}

.conditions__item:nth-child(2) .conditions__title {
  display: flex;
  align-items: center;
  margin-bottom: 28px;

  font-weight: 600;
  font-size: 29.66px;
  line-height: 35px;
  letter-spacing: -0.28px;
}

.conditions__item:nth-child(2) .conditions__title::before {
  content: "";
  display: block;
  width: 74px;
  height: 72px;
  margin-right: 27px;

  background: url("../icons/condition/cross.svg") no-repeat center;
}

.conditions__item:nth-child(3) .conditions__title {
  display: flex;
  align-items: center;
  margin-bottom: 7px;

  font-size: 64px;
  line-height: 76px;
}

.conditions__description {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 29px;
  color: #0D1C41;
}

/* service-packages */

.service-packages {
  margin-bottom: 109px;
}

.service-packages__main-title {
  padding: 0;
  margin: 0 0 48px 0;
}

.service-packages__list {
  display: grid;
  grid-template-columns: repeat(3, 365px);
  gap: 35px;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.service-packages__item:not(:first-child) {
  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.2);
  border-radius: 10px;
}

.service-packages__item:first-child {
  display: flex;
  flex-direction: column;
}

.suggestions__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.2);
  border-radius: 10px;
}

.service-packages__download-button {
  position: relative;

  display: flex;
  align-items: center;
  padding: 20px 48px;

  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.service-packages__download-button::after {
  position: absolute;
  right: 48px;

  content: "";
  display: block;
  width: 24px;
  height: 24px;

  background: url("../icons/service-package/save-icon.svg") no-repeat center;
}

.service-packages__item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 149px;
  margin: 0;
  padding: 0 60px;
  padding-bottom: 24px;

  color: #FFFFFF;
  text-align: center;
  font-weight: 300;

  background: #A89060;
  box-shadow: 0 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 10px;
}

.service-packages__item-title-solid {
  font-weight: 500;
  text-transform: uppercase;
}

.suggestions__title {
  padding: 0 0 24px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  background: #4A607A;
}

.suggestions__list,
.service-packages__list-inner {
  position: relative;
  z-index: 1;
  top: -24px;
  padding: 43px 47.5px 9px 47.5px;
  margin: 0;
  box-sizing: border-box;

  border-radius: 10px;
  background-color: #ffffff;
  list-style-type: none;
}

.service-packages__list-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 8px 0;
}

.protecting-two .service-packages__list-inner {
  padding: 56px 70px 8px 58px;
}

.service-packages__item-inner {
  display: block;
  width: 24px;
  height: 24px;

  background: url("../icons/service-package/tick.svg") no-repeat center;
}

.service-packages__item-minus {
  display: block;
  width: 24px;
  height: 24px;

  background: url("../icons/service-package/Line-solid.svg") no-repeat center;
}

.service-packages__item-inner:nth-child(-n+6) {
  margin-bottom: 37px;
}

.service-packages__item-inner:nth-child(3) {
  margin-bottom: 34px;
}

.service-packages__item-inner:nth-child(4) {
  margin-bottom: 35px;
}

.service-packages__item-inner:nth-child(6) {
  margin-bottom: 40px;
}

.service-packages__item-inner:nth-child(7) {
  margin-bottom: 21px;
}

.service-packages__item-inner:nth-child(8) {
  margin-bottom: 34px;
}

.service-packages__item-inner:nth-child(9) {
  margin-bottom: 19px;
}

.service-packages__item-inner:nth-child(10) {
  margin-bottom: 14px;
}

.service-packages__item-inner:nth-child(11) {
  margin-bottom: 8px;
}

.service-packages__item-inner:nth-child(12) {
  margin-bottom: 47.5px;
}

.service-packages__item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.protecting .service-packages__item-text {
  margin-bottom: 52px;
}

.protecting-two .service-packages__item-text {
  margin-bottom: 52px;

  color: #DC0000;
}

.service-packages__item-text-small {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.protecting-two .service-packages__item-text-small {
  margin-right: 28px;
}

.service-packages__buy-button {
  display: block;
  box-sizing: border-box;
  width: 165px;
  padding: 20px 20px;

  text-align: center;
}

.suggestions__item {
  position: relative;

  display: flex;
  padding: 0 0 0 22px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.suggestions__item:not(:last-child) {
  margin-bottom: 19px;
}

.suggestions__item::before {
  position: absolute;
  left: 0;
  top: 10px;

  content: "";
  display: block;
  width: 14px;
  height: 1px;

  background: #000000;
}

.suggestions__item-select-button {
  width: 248px;

  font-weight: 500;
}

.suggestions__item-select-button::after {
  position: absolute;
  right: -8px;
}

.suggestions__item-select-list {
  padding: 20px 0 0 40px;

  list-style-type: none;
}

.suggestions__item-select-item {
  display: flex;
  align-items: center;
}

.suggestions__item-select-item:not(:last-child)::before {
  position: absolute;
  left: -14px;

  content: "";
  display: block;
  width: 6px;
  height: 6px;

  background-color: #000000;
  border-radius: 50%;
}

.suggestions__item-select-item:not(:last-child) {
  margin-bottom: 10px;
}

.suggestions__item-select-item:last-child {
  font-weight: 600;
}

/* faq */

.faq {
  padding: 0 199px;
  margin-bottom: 109px;
}

.faq__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.faq__dropdown-button {
  box-sizing: border-box;
  padding: 0 145px 0 99px;
  min-height: 85px;
}

.faq__dropdown-button::after {
  position: absolute;
  right: 55px;
}

.faq__dropdown-button::before {
  position: absolute;
  left: 33px;
  content: "";
  display: block;
  width: 35px;
  height: 1px;

  background-color: #0D1C41;
}

.faq__dropdown[open] .faq__dropdown-button {
  box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 10px;
}

.faq__dropdown[open] .faq__dropdown-button::before {
  display: none;
}

.faq__dropdown-content {
  margin: 0 0 28.5px 0;
  padding: 28.5px 80px 0 99px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
}

